{{>navbar}}

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>{{page.title}}</h1>
      <hr>
      <p>{{page.content}}</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{{page.title}}</h2>
        <hr class="light">
        <p class="text-faded">{{page.content}}</p>
        <a href="#" class="btn btn-default btn-xl">Get Started!</a>
      </div>
    </div>
  </div>
</section>
